[submodule "modules/oac-tree"]
	path = modules/oac-tree
	url = https://github.com/oac-tree/oac-tree.git
[submodule "modules/sup-dto"]
	path = modules/sup-dto
	url = https://github.com/oac-tree/sup-dto.git
[submodule "modules/sup-utils"]
	path = modules/sup-utils
	url = https://github.com/oac-tree/sup-utils.git
[submodule "modules/sup-di"]
	path = modules/sup-di
	url = https://github.com/oac-tree/sup-di.git
[submodule "modules/sup-protocol"]
	path = modules/sup-protocol
	url = https://github.com/oac-tree/sup-protocol.git
[submodule "modules/sup-epics"]
	path = modules/sup-epics
	url = https://github.com/oac-tree/sup-epics.git
[submodule "modules/sup-mathexpr"]
	path = modules/sup-mathexpr
	url = https://github.com/oac-tree/sup-mathexpr.git
[submodule "modules/oac-tree-server"]
	path = modules/oac-tree-server
	url = https://github.com/oac-tree/oac-tree-server.git
[submodule "modules/oac-tree-control"]
	path = modules/oac-tree-control
	url = https://github.com/oac-tree/oac-tree-control.git
[submodule "modules/oac-tree-epics"]
	path = modules/oac-tree-epics
	url = https://github.com/oac-tree/oac-tree-epics.git
[submodule "modules/oac-tree-mathexpr"]
	path = modules/oac-tree-mathexpr
	url = https://github.com/oac-tree/oac-tree-mathexpr.git
